body {
  background-image: radial-gradient(#98cfe1, #9dd4e7, #aeddf7, #a2dff5, #8ccbe4, #8ccbe4); 
  font-family: 'Raleway', sans-serif;
}

.about {
  font-family: 'Yatra One', sans-serif;
  margin-left: 51px;
  font-size: 25px;
  margin-top: 60px;
}

.sticker {
  height: 60px;
  width: 60px;
}

.top-navigation {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(to right, #8ccbe4, #bce5f2, #8ccbe4);
}

.myProfile {
  font-size: 35px;
  font-family: 'Tangerine', cursive;
  margin: 0;
  font-weight: bold;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.navigation {
  font-family: 'Concert One', sans-serif;
  text-decoration: none;
  margin-left: 26px;
  font-size: 20px;
  color: #272727;
  font-weight: 300;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navigation:hover {
  transform: scale(1.1);  
  transition: 1s;    
  cursor: pointer;
  text-shadow: 0 0 10px #66a3f8, 0 0 40px #478ffb;
  color: #272727;
}

h3 {
  margin-left: 20px;
  font-size: 20px;
  font-family: 'Concert One', sans-serif;
  font-weight: lighter;
}

.objective {
  text-align: justify;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
}

.obj {
  margin-bottom: 40px;
  margin-right: 30px;
}

.obj_a {
  display: flex;
  margin-right: 80px;
  margin-left: 130px;
}

.obj_b {
  flex: 1;
  width: 100%;
  height: auto;
  background-color: #D0E3FF;
  box-shadow: 0 0 13px #5398ff;
  border: 2px solid #7f95b7;
  border-radius: 10px;
  position: relative;
  color: #000000;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.copyright {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 13px;
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 3px;
}

.switchmode {
  margin-left: 26px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.5s ease, color 0.5s ease;
}

.switchmode:hover {
  transform: scale(1.1);    
  cursor: pointer;
  text-shadow: 0 0 10px #66a3f8, 0 0 40px #478ffb;
}

.hr-lower {
  border: 1px solid #92c3ff;
}

.footerIcon {
  height: 40px;
  width: 40px;
}


/* Dark Mode */
.dark {
  background-image: radial-gradient(#1f1e1e, #2e2e2e, #1f1e1e, #1f1e1e); 
  font-family: 'Raleway', sans-serif;
  color: #f0f0f0;
}

.dark .top-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(to right, #1f1e1e, #6f6d6d, #1f1e1e);
}

.dark .myProfile {
  font-size: 35px;
  font-family: 'Tangerine', cursive;
  font-weight: bold;
  color: #f0f0f0;
  margin: 0;
}

.dark .navigation {
  font-family: 'Concert One', sans-serif;
  text-decoration: none;
  margin-left: 26px;
  font-size: 20px;
  color: #f0f0f0;
  font-weight: 300;
  transition: transform 0.3s ease, color 0.3s ease;
}

.dark .navigation:hover {
  transform: scale(1.1);  
  transition: 1s;   
  cursor: pointer;     
  text-shadow: 0 0 10px #66a3f8, 0 0 40px #478ffb;   
}

.dark .objective {
  text-align: justify;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
  color: #f0f0f0;
}

.dark .obj_b {
  flex: 1;
  width: 100%;
  height: auto;
  background-color: #3b3a3a6e;
  box-shadow: 0 0 13px rgb(131, 169, 226);
  border: 2px solid #0000004f;
  color: #f0f0f0;
  border-radius: 10px;
  position: relative;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.dark .switchmode {
  margin-left: 26px;
  border: none;
  color: #f0f0f0;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.5s ease, color 0.5s ease;
}

.dark .hr-lower {
  border: 1px solid rgb(39, 39, 40);
}