body {
  background-image: linear-gradient(to bottom right,#8ccbe4, #a1b9c5, #8cc8de, #8ccbe4, #a1b9c5, #99ddf4);
  font-family: 'Raleway', sans-serif;
}

h1 {
    margin-top: 5%;
    font-size: 45px;
    font-family: 'Concert One', sans-serif;
    text-align: center;
}

p {
    font-family: "Nova Round", system-ui;
    text-align: center;
    font-size: 15px;
}

.explore {
  font-family: "Nova Round", system-ui;
  font-size: 15px;
  padding: 10px 20px 10px;
  background: rgba(255, 255, 255, 0);
  border: 2px solid #5aa7c0;
  border-radius: 100px;
  transition: transform 0.7s ease, color 0.7s ease;
    
  box-shadow:
    0 3px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
  
.explore:hover {
  background-image: radial-gradient(#81b9cb, #93bbc9, #d6ebf6); 
  transform: scale(1.08);    
  cursor: pointer;  
}

.explore a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.copyright {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 13px;
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 3px;
}

.switchmode {
  margin-top: 45px;
  margin-left: 93%;
  border: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.5s ease, color 0.5s ease;
}

.switchmode:hover {
  transform: scale(1.1);    
  cursor: pointer;
  text-shadow: 0 0 10px #66a3f8, 0 0 40px #478ffb;
}

.hr-lower {
  border: 1px solid rgb(158, 197, 245)
}

.footerIcon {
  height: 40px;
  width: 40px;
}