body {
  background-image: radial-gradient(#81b9cb, #93bbc9, #d6ebf6); 
  color: #f0f0f0;
  font-family: 'Raleway', sans-serif;
}

.hr-up {
    border: 1px solid rgb(158, 197, 245);
    margin-right: 80px;
}

.intro-wrapper {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 20px;
}

.intro-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.intro-text h1 {
    font-size: 55px;
    font-family: 'Concert One', sans-serif;
}

.intro-text p {
    margin: 5px 0;
    line-height: 1.4;
    font-family: "Nova Round", system-ui;
    font-size: 15px;
}

.h1Pic {
    margin-left: 10px;
    width: 10%;
    height: auto;
    position: relative;
    overflow: hidden;
    animation: float 3s ease-in-out infinite;
}

.indexPic {
    margin-left: 40px;
    width: 30%;
    height: auto;
    position: relative;
    overflow: hidden;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {transform: translateY(0);}
    50% { transform: translateY(-8px);}
    }

.explore {
  font-family: "Nova Round", system-ui;
  font-size: 15px;
  margin-left: 40%;
  padding: 10px 20px 10px;
  background: rgba(255, 255, 255, 0);
  border: 2px solid #93bbed;
  border-radius: 100px;
  transition: transform 0.7s ease, color 0.7s ease;
    
  box-shadow:
    0 3px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
  
.explore:hover {
  background-image: radial-gradient(#81b9cb, #93bbc9, #d6ebf6); 
  transform: scale(1.08);    
  cursor: pointer;  
}

.explore a {
    text-decoration: none;
    color: #f0f0f0;
    font-weight: 600;
}

.copyright {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 13px;
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 3px;
}

.switchmode {
  margin-top: 45px;
  margin-left: 93%;
  border: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.5s ease, color 0.5s ease;
}

.switchmode:hover {
  transform: scale(1.1);    
  cursor: pointer;
  text-shadow: 0 0 10px #66a3f8, 0 0 40px #478ffb;
}

.hr-lower {
  border: 1px solid rgb(158, 197, 245);
}

.footerIcon {
  height: 40px;
  width: 40px;
}



/* Dark Mode */
.dark {
  background-image: radial-gradient(#1f2021, #202324, #414144); 
  font-family: 'Raleway', sans-serif;
  color: #f0f0f0;
}

.dark .hr-up {
    border: 1px solid rgb(57, 57, 58);
}

.dark .explore {
  background: #1d1e1e;
  border: 2px solid #66627f4f;
  border-radius: 100px;
  transition: transform 0.7s ease, color 0.7s ease;
    
  box-shadow:
    0 3px 2.2px rgba(166, 177, 247, 0.034),
    0 6.7px 5.3px rgba(148, 158, 239, 0.034),
    0 12.5px 10px rgba(128, 145, 253, 0.034),
    0 100px 80px rgba(121, 130, 190, 0.034);
}
  
.dark .explore:hover {
  background-image: radial-gradient(#303030, #303030, #4e595f); 
  transform: scale(1.08);    
  cursor: pointer;  
}

.dark .explore a {
  text-decoration: none;
  color: #f0f0f0;
  font-weight: 600;
}

.dark .switchmode {
  margin-top: 45px;
  margin-left: 93%;
  border: none;
  color: #f0f0f0;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.5s ease, color 0.5s ease;
}

.dark .hr-lower {
  border: 1px solid rgb(57, 57, 58);
}